{% extends "base.html" %}

{% block content %}
<div class="column is-6 is-offset-3">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <h1 class="title">QR-Code für {{ asset.name }}</h1>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a href="{{ url_for('main.view_asset', id=asset.id) }}" class="button">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span>Zurück</span>
                </a>
            </div>
        </div>
    </nav>

    <div class="box has-text-centered">
        <figure class="image is-256x256 is-inline-block">
            <img src="data:image/png;base64,{{ qr_code }}" alt="QR-Code für {{ asset.name }}">
        </figure>
        
        <div class="content mt-4">
            <p>Scannen Sie diesen QR-Code, um schnell auf die Details dieses Assets zuzugreifen.</p>
            <p class="is-size-7">Asset ID: {{ asset.id }}</p>
        </div>
        
        <div class="buttons is-centered mt-4">
            <a href="data:image/png;base64,{{ qr_code }}" download="asset_{{ asset.id }}_qr.png" class="button is-primary">
                <span class="icon">
                    <i class="fas fa-download"></i>
                </span>
                <span>QR-Code herunterladen</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
